@model AdvancedRepository.Models.ViewModels.CustomerModel

@{
    ViewData["Title"] = "CrUD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

<h4>Customers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group" hidden>
                <input asp-for="Customer.Id" class="form-control"/>
            </div>
            
            <div class="form-group">
                <label asp-for="Customer.CompanyName" class="control-label">Company Name</label>
                <input asp-for="Customer.CompanyName" class="form-control" />
                <span asp-validation-for="Customer.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.Rating" class="control-label">Rate</label>
                <input asp-for="Customer.Rating" class="form-control" />
                <span asp-validation-for="Customer.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.Street" class="control-label">Street</label>
                <input asp-for="Customer.Street" class="form-control" />
                <span asp-validation-for="Customer.Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.Avenue" class="control-label">Avenue</label>
                <input asp-for="Customer.Avenue" class="form-control" />
                <span asp-validation-for="Customer.Avenue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.OutDoorNumber" class="control-label">Outdoor Number</label>
                <input asp-for="Customer.OutDoorNumber" class="form-control" />
                <span asp-validation-for="Customer.OutDoorNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.County.CountyName" class="control-label">County</label>
                <select name="Customer.CountyId" class="form-control">
                    @foreach (var item in Model.CountyList)
                    {
                        if (item.CountyId == Model.Customer.CountyId)
                        {
                            <option selected style="color:red" name="Customer.CountyId" value="@item.CountyId">@item.CountyName</option>
                        }
                        else
                        {
                            <option name="Customer.CountyId" value="@item.CountyId">@item.CountyName</option>
                        }
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="Customer.TaxNumber" class="control-label">Tax Number</label>
                <input asp-for="Customer.TaxNumber" class="form-control" />
                <span asp-validation-for="Customer.TaxNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.ContactName" class="control-label">Contact Name</label>
                <input asp-for="Customer.ContactName" class="form-control" />
                <span asp-validation-for="Customer.ContactName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="Customer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@Model.BtnVal" class="@Model.BtnClass" />
            </div>

            <div class="form-group">
                <a class="btn btn-warning" href="/Customer/List">Cancel</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
