@model IEnumerable<AdvancedRepository.DTOs.CategoryList>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Categories List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @item.CategoryId
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a class="btn btn-dark" asp-action="Detail" asp-route-id="@item.CategoryId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>                 
                </td>
            </tr>
    }
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
    <a class="btn btn-light" asp-action="Recover">Recover</a>
</div>
